body{
font-family: Arial;
margin:0;
background:#f1f3f6;
}

header{
background:#2874f0;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

header a{
color:white;
text-decoration:none;
margin-left:20px;
}

.products{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
justify-content:center;
}

.card{
background:white;
padding:15px;
width:220px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
cursor:pointer;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card:hover{
transform:scale(1.05);
}

button{
background:#fb641b;
color:white;
border:none;
padding:10px;
width:100%;
margin-top:10px;
cursor:pointer;
}

.product-detail{
display:flex;
gap:40px;
padding:40px;
}

.product-detail img{
width:400px;
}
